@import "bootstrap/dist/css/bootstrap.min.css";

@import "./variables.css";
@import "./reset.css";
@import "./typography.css";
@import "./utilities.css";
@import "./layout.css";

@import "./components/navbar.css";
@import "./components/buttons.css";
@import "./components/cards.css";
@import "./components/footer.css";

@import "./pages/home.css";
@import "./responsive.css";
@import "./pages/about.css";
@import "./pages/services.css";
@import "./pages/portfolio.css";
@import "./pages/why-choose.css";
@import "./pages/testimonials.css";
@import "./pages/contact.css";
@import "./components/footer.css";
@import "./pages/website-development.css";
@import "./pages/ecommerce.css";
@import "./pages/erp-software.css";
@import "./pages/custom-software.css";
@import "./pages/mobile-app-development.css";
@import "./pages/digital-marketing.css";
@import "./pages/seo-services.css";
@import "./pages/ui-ux-design.css";
@import "./pages/ai-solutions.css";
@import "./components/service-features.css";
@import "./components/development-process.css";
@import "./components/whatsapp-widget.css";

:root{
    --primary:#ff8a00;
    --secondary:#8b5cf6;
}

html[data-theme="dark"]{
    --bg:#09090b;
    --surface:#17171d;
    --surface-2:#23232b;
    --text:#ffffff;
    --text-secondary:#bdbdbd;
    --border:rgba(255,255,255,.08);
    --navbar:rgba(9,9,11,.65);
}

html[data-theme="light"]{
   --bg:#f8fafc;
    --surface:#ffffff;
    --surface-2:#f1f5f9;
    --text:#111827;
    --text-secondary:#4b5563;
    --border:rgba(0,0,0,.08);
    --navbar: rgba(255,255,255,.95);
}

html{

scroll-behavior:smooth;

scroll-padding-top:90px;

}

body{
    background:var(--bg);
    color:var(--text);
    transition:.35s;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Outfit',sans-serif;
    /* background:var(--dark); */
    /* color:#fff; */
}

a{
    text-decoration:none;
}

section{
    padding:100px 0;
}

.container{
    max-width:1200px;
}

body.menu-open{

overflow:hidden;

}