@media(max-width:991px){

.nav-menu{

display:none;

}

.quote-btn{

display:none;

}

}


@media(max-width:991px){

.hero-container{

grid-template-columns:1fr;

text-align:center;

}

.hero-buttons{

justify-content:center;

}

.hero-left h1{

font-size:42px;

}

.hero-right{

margin-top:50px;

}

.mobile-placeholder{

position:relative;

right:0;

bottom:0;

margin:20px auto 0;

}

.hero-stats{
justify-content:center;
flex-wrap:wrap;
}

}