.hero{

    min-height:110vh;

    display:flex;

    align-items:center;

}

.hero-container{

    display:grid;

    grid-template-columns:1fr 1fr;

    align-items:center;

    gap:80px;

}

.hero-left h1{

    font-size:70px;

    line-height:1.1;

    font-weight:800;

}

.hero-left h1 span{

    background:linear-gradient(90deg,var(--primary),var(--secondary));

    -webkit-background-clip:text;

    color:transparent;

}

.hero-left p{

    margin:30px 0;

    color:var(--gray);

    font-size:20px;

    line-height:1.8;

}

.hero-buttons{

    display:flex;

    gap:20px;

}

.laptop-placeholder{

    height:420px;

    border-radius:30px;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:28px;

    background:#161616;

}

.mobile-placeholder{

    width:180px;

    height:360px;

    border-radius:30px;

    position:absolute;

    right:-40px;

    bottom:-30px;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#1f1f1f;

}

.hero-right{

    position:relative;

}
.hero-stats{
    display:flex;
    gap:40px;
        margin-top: 20px;

}

.hero-stats h2{
    color:#fff;
    font-size:34px;
}

.hero-stats span{
    color:#aaa;
}
